html {
  font-size: 18px;
}

body {
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 960px;
  margin: auto;
}
/* Header */
header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-size: cover;
  height: 31rem;
  padding-top: 1rem;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: cadetblue;
  color: white;
  padding: 1rem 2rem;
  margin: 0 2rem;
}
.logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  margin-right: 1rem;
}
nav a {
  text-decoration: none;
  padding: 2rem;
  color: white;
}
.headline-box .container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.headline {
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  display: inline-block;
  position: relative;
  top: 10rem;
  left: 20rem;
}

/* Main Section */
.information {
  padding-top: 3rem;
  display: flex;
  align-items: center;
}
.services {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  justify-content: center;
}
.info-block {
  height: 8rem;
  width: 5rem;
  margin-right: 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.info-pic {
  width: 3.5rem;
  height: 5rem;
}
.info-pic img {
  width: 3.5rem;
}
.info-title {
  display: block;
}
.narrative {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}
.narrative-block {
  width: 35%;
  margin-right: 5%;
}
.narrative-title {
  background-color: cadetblue;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: .5rem 1.25rem;
  width: 10rem;
}
/* Footer */
footer {
  padding: 4rem;
  background-color: azure;
}
footer img {
  height: 1.5rem;
  margin-right: 1rem;
}
